.text-center{
    text-align: center !important;
}

.crema{
    background-color: #ffbcbc;
}

.damasco{
    background-color: #fce7e7;
}

.verde{
    background-color: greenyellow;
}

// .boton-cel.ios.button.button-solid.ion-activatable .ion-focusable.hydrated{
//     background: aquamarine;
// }